.logo {
    margin-right: 44px;
}

.kvadrat{
    margin-right: 12px;
    vertical-align: -2px;
}

.lupa{
    margin-left: 43px;
    margin-right: 12px;
    vertical-align: middle;
}

.textimg{
    vertical-align: middle;
}

.top{
    margin-left: 669px;
    vertical-align: 1px;
}

.kvadratlupa{
display: inline-block;
vertical-align: 20px;
font-family: 'Roboto';
}