.potr{
    box-shadow: 0px 0px 3px rgba(42, 45, 67, 0.25);
    border-radius: 12px;
    font-size: 24px;
    font-family: 'Roboto';
    text-align: left;
    width: 1280px;
    margin: 8px auto 0 14px;
    padding:10px 0 10px 11px;
}

.zayvki{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    border-bottom: 2px solid #6153CC;
    border-radius: 2px;
    margin: 0px 16px 0px 32px;
    padding: 0px 16px 4px 16px;
    letter-spacing: 0.15px;
}

.arhiv{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: #6A6C7B;
    letter-spacing: 0.15px;
}

.dubl{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #6153CC;
    border: 2px solid #6153CC;
    border-radius: 7px;
    padding: 10px 25px 10px 25px;
    margin: 0 32px 0 810px;
    cursor: pointer;
}

.otozvaty{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #6153CC;
    cursor: pointer;
}

.div1{
    margin-top: 16px;
}